.container {
  min-width: 768px;
  padding: 0 60px;
  margin: 0 auto;
}

.svg {
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: aliceblue;
}

.title {
  display: block;
  margin: 0;
}

.text {
  display: block;
  margin: 0;
}