@mixin fonts(
  $line-height: $base-line-height,
  $size: $base-font-size,
  $style: $base-font-style,
  $weight: $base-font-weight,
) {
  font-family: $base-font-family, sans-serif;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $line-height;
}

@mixin link($width: 178px) {
  @include fonts($size: 16px, $weight: 700, $line-height: 19px);
  
  width: $width;
  background-color: $green-link;
  color: $basic-white;
  text-align: center;
  text-transform: uppercase;
  border-radius: 30px;
}