// colors
$basic-grey: #EAEAEA;
$grey-rgba: rgba(157, 157, 157, 1);

// fonts
$base-font-family: "Inter";
$base-font-size: 14px;
$base-font-style: normal;
$base-font-weight: 400;
$bold: 700;
$page-title-size: 20px;
$base-line-height: 13px;