// colors
$basic-white: #FFFFFF;
$basic-black: #000000;
$basic-grey: #EAEAEA;
$grey-text: #BDBDBD;
$grey-rgba: rgba(157, 157, 157, 1);
$banner-bg: rgba(244, 239, 233, 1);
$green: #8BB43C;
$green-link: #A5D364;
$heart: #FF8585;
$grey-plus: #D3D3D3;
$black-shadow-rgba: rgba(0,0,0, 0.3);
$milk: #FEF0F0;
$soft-milk: #F2F2F2;
$price-color: #5C5C5C;
$grey-light: #edebeb;
$card-shadow: rgba(0, 0, 0, 0.05);

// fonts
$base-font-family: "Inter";
$base-font-size: 14px;
$base-font-style: normal;
$base-font-weight: 400;
$bold: 700;
$page-title-size: 20px;
$base-line-height: 13px;

//sizes
$app-width: 1400px;
$desktop-width: 1150px;