// colors
$basic-white: #FFFFFF;
$basic-grey: #EAEAEA;
$grey-rgba: rgba(157, 157, 157, 1);
$banner-bg: rgba(244, 239, 233, 1);
$green: #8BB43C;
$green-link: #A5D364;

// fonts
$base-font-family: "Inter";
$base-font-size: 14px;
$base-font-style: normal;
$base-font-weight: 400;
$bold: 700;
$page-title-size: 20px;
$base-line-height: 13px;