.banner {
  margin-top: 45px;
  margin-bottom: 45px;
}

.banner__content {
  display: flex;
  justify-content: space-between;
  height: 300px;
  border-radius: 20px;
  background-color: $banner-bg;
}

.banner__col2 {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  background-color: $banner-bg;
}