.card-price__grid {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "priceTag plus"
    "priceField plus";
}

.card-price__button {
  @include mini-button($color: $soft-milk);

  grid-area: plus;
  align-self: center;
}

.card-price__svg {
  background-color: transparent;
}
