.cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 45px 0 45px 0;

  @media (min-width: 758px) { // remove when developed
    justify-content: space-between;
  }
}

.cards__item {
  margin: 0 25px 25px 0;
}