.cart__content {
  display: flex;
  align-items: center;
}

.cart__text {
  @include fonts($size: 14px, $line-height: 17px, $weight: 600);
  
  display: flex;
}

.cart__svg {
  width: 18px;
  height: 18px;
  background-color: aquamarine;
}