.content {
  @include container($desktop-width);

  padding-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content__title {
  @include fonts($weight: 700, $size: 32px, $line-height: 39px);

  display: flex;
  margin: 0;
  width: 50%;
}