.menu-order {
  height: 140px;
}

.menu-order__top {
  display: flex;
  justify-content: space-between;
}

.menu-order__bottom {
  display: flex;
  justify-content: space-between;
}

.menu-order__button {
  @include fonts($size: 16px, $line-height: 19px);
  @include wide-button();
}

.menu-order__text {
  @include fonts($size: 16px, $line-height: 19px);

  &--bold {
    @include fonts($weight: 700);
  }
}